<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>55823499582-4skmcefsn58palm18udknpflsmh748sg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55823499582-4skmcefsn58palm18udknpflsmh748sg</string>
	<key>API_KEY</key>
	<string>AIzaSyByd3w4iLILIrInnv1NLmRGQqXJ4sfVfPc</string>
	<key>GCM_SENDER_ID</key>
	<string>55823499582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.workRavenUser</string>
	<key>PROJECT_ID</key>
	<string>workraven-4cae3</string>
	<key>STORAGE_BUCKET</key>
	<string>workraven-4cae3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55823499582:ios:43a5c8541961eeb4</string>
	<key>DATABASE_URL</key>
	<string>https://workraven-4cae3.firebaseio.com</string>
</dict>
</plist>